body {
  background-image: url(./Components/image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat no-repeat;
}
.body {
  position: absolute;
  width: 98vw;
  margin: auto;
}
